.button-circle {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #425059;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: .1em;
    margin: 0 auto;
    width: 80%;
}

.button-circle span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
}

.button-circle span:nth-child(6) {
    position: relative;
}

.button-circle span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.button-circle span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.button-circle span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.button-circle span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.button-circle span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.button-circle:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}